.admin-burger {
	width: 300px;
	height: 100vh;
	background: #ffffff;
	padding: 20px 0;
	display: grid;
	align-items: flex-start;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;

	& > div {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 50px;
	}

	& > nav {
		display: grid;
		justify-content: center;

		& > a {
			color: #202224;
			text-decoration: none;
			text-align: center;
			border-radius: 5px;
			padding: 10px 20px;
		}

		& > .active {
			background: #8806a9;
			color: #ffffff;
		}
	}

	& > button {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		cursor: pointer;
		border-top: 0.6px solid #e0e0e0;
		padding: 10px;
		padding-top: 30px;
	}
}

.admin-header {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	width: 100%;
	background: #ffffff;
	padding-block: 10px;
	padding-right: 70px;

	& > div {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		gap: 10px;

		img {
			width: 40px;
			height: 40px;
		}

		& > div {
			display: grid;
			gap: 5px;

			& > div:first-child {
				font-size: 16px;
				font-weight: 700;
			}
			& > div:last-child {
				font-size: 13px;
				font-weight: 500;
			}
		}
	}
}

.admin-main {
	display: flex;

	& > .center-admin {
		width: 100%;
		display: grid;
		grid-template-rows: auto auto 1fr;
		max-height: 100vh;

		& > .info-site {
			display: flex;
			justify-content: space-evenly;
			padding-top: 40px;

			& > .info-item {
				display: flex;
				justify-content: space-between;
				width: 18%;
				background: #ffffff;
				border-radius: 10px;
				padding: 15px;
				padding-bottom: 80px;

				& > .info-item-block {
					display: grid;

					& > div:first-child {
						font-size: 13px;
						color: #202224;
					}

					& > div:last-child {
						font-size: 20px;
						font-weight: 700;
						color: #202224;
					}
				}
			}
		}

		& > .notification {
			background: #ffffff;
			margin: 40px;
			border-radius: 10px;
			padding: 30px;
			display: grid;
			grid-template-rows: auto 1fr;

			& > .title-admin {
				font-size: 15px;
				font-weight: 600;
				color: #515559;
			}

			& > .notif-block {
				overflow-y: auto;
				overflow-x: hidden;
				margin-top: 25px;
				display: flex;
				flex-direction: column;
				gap: 15px;

				& > div {
					font-size: 18px;
					font-weight: 400;
					color: #202224;
				}
			}
		}
	}

	& > .center-admin-2 {
		width: 100%;
		display: grid;
		grid-template-rows: auto 1fr;
		max-height: 100vh;
	}

	.users-block {
		background: #ffffff;
		margin: 40px;
		border-radius: 10px;
		padding: 30px;
		overflow-y: auto;

		table {
			width: 100%;
		}

		thead {
			height: 30px;
		}

		thead > tr {
			border-bottom: 1px solid #5155594d;

			& > th {
				font-size: 14px;
				font-weight: 500;
				color: #515559;
			}
		}

		tbody > tr {
			cursor: pointer;

			&:hover {
				background: #5155591a;
			}

			& > td {
				text-align: center;
				height: 25px;
				vertical-align: middle;
				color: #202224;
				font-size: 16px;
				font-weight: 500;
			}

			&:first-child > td {
				height: 10px;
			}

			.admin-dep {
				color: #00b69b;
			}
		}
	}

	.withdrawal-block {
		background: #ffffff;
		margin: 40px;
		border-radius: 10px;
		padding: 30px;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		gap: 10px;

		& > .withdrawal-item {
			display: flex;
			align-items: center;

			& > strong:first-of-type,
			& > strong:last-of-type {
				margin-right: 5px;
			}

			& > strong:last-of-type {
				margin-left: 5px;
			}

			& > div {
				margin-left: 15px;
				display: flex;
				gap: 10px;

				button {
					font-size: 16px;
					font-weight: 500;
					padding: 5px 20px;
					border-radius: 5px;
					cursor: pointer;

					&:first-child {
						background: #00b69b4d;
						color: #00b69b;
					}

					&:last-child {
						background: #dd00004d;
						color: #dd0000;
					}
				}
			}
		}
	}

	.ann-block {
		margin: 40px;

		& > button {
			font-size: 16px;
			font-weight: 500;
			padding: 5px 20px;
			border-radius: 5px;
			cursor: pointer;
			background: #00b69b4d;
			color: #00b69b;
		}

		& > .ann-list {
			margin-top: 15px;
			display: flex;
			flex-direction: column;
			gap: 10px;

			& > .ann-item {
				display: flex;
				align-items: center;
				justify-content: space-between;
				background: #ffffff;
				border-radius: 10px;
				padding: 10px 15px;

				& > svg {
					width: 15px;
					cursor: pointer;
				}
			}
		}
	}

	.user-info {
		background: #ffffff;
		margin: 40px;
		border-radius: 10px;
		padding: 30px;
		padding-top: 10px;
		display: grid;
		grid-template-rows: auto auto 1fr;

		.user-back {
			display: flex;
			justify-content: flex-end;

			svg {
				cursor: pointer;
			}
		}

		.user-main-info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 20px;
			border-bottom: 1px solid #51555966;
			padding-bottom: 40px;

			.user-main-info_left {
				display: flex;
				align-items: center;
				gap: 20px;

				img {
					width: 70px;
				}

				& > div {
					display: grid;
					gap: 5px;

					& > div {
						&:first-of-type {
							font-size: 24px;
							font-weight: 500;
						}

						&:not(:first-of-type) {
							color: #515559;
							font-size: 18px;
							font-weight: 500;
						}
					}
				}
			}

			.user-main-info_right {
				display: flex;
				align-items: center;
				gap: 40px;
				margin-right: 20px;

				& > div {
					display: grid;
					gap: 5px;

					& > div {
						text-align: center;

						&:first-of-type {
							color: #515559;
							font-size: 22px;
							font-weight: 500;
						}

						&:last-of-type {
							color: #00b69b;
							font-size: 18px;
							font-weight: 500;
						}
					}
				}
			}
		}

		.user-adv-info {
			margin-top: 15px;
			display: grid;
			grid-template-rows: auto 1fr;

			& > div:first-child {
				display: flex;
				gap: 40px;

				& > div {
					color: #8b9197;
					font-size: 17px;
					cursor: pointer;
					font-weight: 500;
				}

				& > .active {
					color: black;
				}
			}

			& > div:last-child {
				background: #d9d9d933;
				border-radius: 10px;
				padding: 20px;
				margin-top: 15px;
				height: 100%;

				table {
					width: 100%;

					thead th {
						color: #515559;
						font-size: 15px;
						font-weight: 500;

						&:first-of-type {
							text-align: start;
						}

						&:nth-of-type(2) {
							text-align: center;
						}

						&:last-of-type {
							text-align: end;
						}
					}

					tbody td {
						padding-top: 10px;
						padding-bottom: 5px;
						color: #202224;
						font-size: 15px;
						font-weight: 500;

						&:first-of-type {
							text-align: start;
						}

						&:nth-of-type(2) {
							text-align: center;
						}

						&:last-of-type {
							text-align: end;
						}
					}
				}
			}
		}
	}
}

.admin-create-ann {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	backdrop-filter: blur(2px);
	background: #f5f6fa50;
	display: flex;
	align-items: center;
	justify-content: center;

	.create-block {
		border: 1px solid #5155594d;
		padding: 40px 60px;
		border-radius: 15px;
		max-width: 1076px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: #ffffff;

		h1 {
			text-align: center;
			color: #3b3e41;
			font-size: 26px;
			font-weight: 500;
			margin-bottom: 20px;
		}

		fieldset {
			display: flex;
			flex-direction: column;
			gap: 5px;
			margin-bottom: 20px;
			width: 100%;

			label {
				color: #8b9197;
				font-size: 14px;
				font-weight: 400;
			}

			input {
				border: 1px solid #8b919766;
				background: #ededed4d;
				border-radius: 10px;
				padding: 10px;
			}
		}

		button {
			background: #00b69b4d;
			border-radius: 5px;
			color: #00b69b;
			font-size: 22px;
			font-weight: 700;
			padding: 5px 25px;
			cursor: pointer;
		}
	}
}
