.auth-page {
	background: url(../images/bg/auth.jpg);
	background-size: 100% 100%;
	background-position: center;
	height: calc(100vh - 70px);
	padding: 100px 0;

	@media screen and (max-width: $desk) {
		padding: h(100px) 0;
	}

	@media screen and (max-width: $mobile) {
		padding: 0;
		height: 100vh;
		background-image: url(../images/bg/auth-m.jpg);
	}

	.container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100% !important;

		@media screen and (max-width: $mobile) {
			padding: 0;
		}
	}
}

.auth-window {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 480px;
	width: 100%;
	padding-bottom: 100px;

	@media screen and (max-width: $desk) {
		max-width: h(480);
		padding-bottom: h(100);
	}

	@media screen and (max-width: $mobile) {
		background: none;
		border: none;
		padding: 30px 16px;
	}

	&-mobile {
		position: absolute;
		top: 25px;
		left: 16px;
		right: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__close {
			svg {
				width: 16px;
				height: 16px;
				fill: #727a88;
			}
		}

		&__link {
			font-family: $second-family;
			font-weight: 400;
			font-size: 16px;
			text-align: right;
			color: #a402cd;
			text-decoration: none;
		}

		@media screen and (min-width: $mobile) {
			display: none;
		}
	}

	&--login {
		padding-bottom: 30px;

		@media screen and (max-width: $desk) {
			padding-bottom: h(30px);
		}
	}

	&-logotype {
		width: 100px;
		margin-bottom: 10px;

		@media screen and (max-width: $desk) {
			width: h(100px);
			margin-bottom: h(10px);
		}
	}

	&-title {
		font-weight: 400;
		font-size: 32px;
		text-align: center;
		color: #fff;
		margin-bottom: 35px;

		@media screen and (max-width: $desk) {
			font-size: h(32px);
			margin-bottom: h(35px);
		}

		@media screen and (max-width: $mobile) {
			margin-bottom: 30px;
			font-size: 30px;
		}
	}

	&-links {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		font-family: $second-family;
		font-weight: 400;
		font-size: 16px;
		text-align: center;
		color: #fff;
		margin-bottom: 15px;

		@media screen and (max-width: $desk) {
			font-size: h(16px);
			margin-bottom: h(15px);
		}

		&__register {
			@media screen and (max-width: $mobile) {
				display: none;
			}
		}

		a {
			color: #a402cd;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	& > .default-input,
	& > .password-field {
		width: 100%;
		margin-bottom: 15px;
	}

	.cb {
		margin-top: 15px;
		margin-bottom: 15px;

		@media screen and (max-width: $desk) {
			margin-top: h(15px);
			margin-bottom: h(15px);
		}

		@media screen and (max-width: $mobile) {
			margin-bottom: 25px;
		}
	}

	.default-submit {
		margin-bottom: 25px;

		@media screen and (max-width: $desk) {
			margin-bottom: h(25px);
		}
	}

	.referral-code {
		width: 100%;
	}
}
